$winner-color: #ffc800;
$base-color: #b2d6f6;

$background-color: #030c13;
$background-color-light: #0c151d;

$highlight-title-color: #fff;
$highlight-text-color: #124878;

$button-color: #0069d9;
$button-color-hover: #1b88fd;
$duel-inner-color: #2c3746;