$winner-color: #0cf803;
$base-color: #b2f6da;

$background-color: #000000;
$background-color-light: #060f0b;

$highlight-title-color: #fff;
$highlight-text-color: #5e916d;

$button-color: #2e851d;
$button-color-hover: #13bb0d;
$duel-inner-color: #1e271f;