$winner-color: #0050ac;
$base-color: #434b53;

$background-color: #f3f3f3;
$background-color-light: #e9e9e9;

$highlight-title-color: #586e81;
$highlight-text-color: #124878;

$button-color: #4b729c;
$button-color-hover: #50a3fc;
$duel-inner-color: #cfd8df;